// FOOTER STYLES

.site_footer {	
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.site_footer .inner_content {
	border-top: 1px solid $light_grey;
	padding: 20px 0;
}
.site_footer nav ul li {
	display: inline-block;
	padding: 0 5px;
}
.site_footer nav ul li:after {


}
.site_footer nav ul li a {
	color: $dark_grey;
	display: block;
	text-decoration: underline;
	&:hover {
		color: $black;
	}
}


// TABLET STYLES
@include respond-to(tablet) {
	
}

// MOBILE SYLES
@include respond-to(mobile) {
	.site_footer .inner_content {
		padding: 10px 0;
	}
}