// FRAMEWORK

.clear {
	clear: both;
	overflow: hidden;
	float: none;
}
.tablet,
.show_mobile {display: none;}
.desktop,
.show_desktop {display: block;}

html,
body {
	margin: 0;
  	padding: 0;
  	height: 100%;
}
body {
	// padding-bottom: 410px;
}
a {
	text-decoration: none;
	outline: 0;
}
a:hover, a:active, a:focus {
	outline: 0;
}
ol,
ul {
 	padding: 0;
 	margin: 0;
} 
img {
	display: block;
}
iframe,
img {
	max-width: 100%;
	display: block;
}
blockquote {
	margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
h1,h2,h3,h4,h5, {
	font-family: $title_font;
}
// Site cta
a.site_cta {
	@include site_cta;
}

.site_container {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-bottom: 100px;
	font-size: 14px;
	font-family: $body_font;
}
.inner_content {
	width: 100%;
	max-width: 1020px;
	min-width: 960px;
	margin: 0 auto;
}

// GENERIC SITE STYLES
.breadcrumb {
	padding: 10px 0;
	overflow: hidden;
}
.breadcrumb ul li {
	display: inline-block;
}
.breadcrumb ul li a {
	color: $light_grey;
}
.breadcrumb ul li.selected a {
	color: $dark_grey;
}


// main content
.main_content {
	padding: 20px 0;
}
.main_content section {
	margin: 0 25px;
	float: left;
	display: block;
	width: 550px;
}
.main_content section figure.product_img {
	float: left;
	width: 220px;
	margin-right: 20px;
}
.main_content section article {
	float: left;
	width: 310px
}

// ACCORIDAN
.main_content nav.accordion {
	float: left;
	width: 200px;
	display: block;
}
.main_content nav.accordion ul li {
	display: block;
	width: 100%;	
	text-align: center;
	background: $dark_grey;
	border-bottom: 1px solid $white;
}
.main_content nav.accordion ul li a {
	color: $white;
	display: block;
	padding: 10px 0;
}
.main_content nav.accordion ul li ul {
	display: none;
}
.main_content nav.accordion ul li ul li {
	background: $light_grey;
	border-bottom: 0;
	text-indent: 20px;
}



// ASIDE BASKET SIDEBAR
aside.product_details {
	background: $light_grey;
	padding: 15px;
	overflow: hidden;
	width: 200px;
	float: right;
}
aside.product_details a.site_cta {
	width: 100%;
	padding: 10px 0;
}
span.price {
	text-align: center;
	font-size: 34px;
	width: 100%;
	display: block;
	padding: 0 0 10px;
}
aside.product_details ul li {
	display: block;
	width: 100%;
	padding: 10px 0;
}
aside.product_details ul li span {
	font-family: $title_font;
}

// TABLET STYLES
@include respond-to(tablet) {
	.inner_content {
		max-width: 96%;
		min-width: 96%;
		padding: 0 2%;
	}	
}


// MOBILE STYLES
@include respond-to(mobile) {
	.inner_content {
		max-width: 96%;
		min-width: 96%;
		padding: 0 2%;
	}	

	// ASIDE BASKET SIDEBAR
	aside.product_details {
		padding: 15px 2%;
		width: 96%;
		float: none;
	}

}