// HEADER

header.site_header {	
	position: relative;
}
header.site_header .inner_content {
	border-bottom: 3px solid $pink;
	padding: 20px 0;
	overflow: hidden;	
}

// Site logo
header.site_header .logo {
	float: left;
}

// Searchbar
header.site_header .searchbar {
	position: absolute;
	bottom: 20px;
	right: 0;
	font-size: 11px;
	background: $light_grey;
	padding: 5px 0;
}
header.site_header .searchbar button {
	outline: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: 0;
	border: none;
	color: $pink;
}
header.site_header .searchbar input {
	border: none;
	background: transparent;
	padding-left: 10px;
}
header.site_header .searchbar input:active,
header.site_header .searchbar input:focus {
	outline: 0;
}



// TABLET STYLES
@include respond-to(tablet) {
	
}

// MOBILE SYLES
@include respond-to(mobile) {

	header.site_header .inner_content {
		padding: 10px 0;
	}

	// Searchbar
	header.site_header .searchbar {
		bottom: 10px;
	}
	header.site_header .searchbar button {
		font-size: 20px;
	}
	header.site_header .searchbar input {
		border: none;
		padding-left: 10px;
		// display: none;
	}


}