// HEADER

header.site_header {	
	
}
header.site_header .inner_content {
	border-bottom: 1px solid $pink;
	padding: 20px 0;
	overflow: hidden;	
}

// Site logo
header.site_header .logo {
	float: left;
}

// Searchbar
header.site_header .searchbar {
	float: right;
}


// TABLET STYLES
@include respond-to(tablet) {
	
}

// MOBILE SYLES
@include respond-to(mobile) {

	header.site_header .inner_content {
		padding: 10px 0;
	}
}